<!DOCTYPE html>
<html
    lang="en-US"
    dir="ltr"
    translate="yes">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason's Portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon_jason-james.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">

    <!-- Programmatically Generated Bungee Font-->
    <link rel="stylesheet" href="https://bungee-project.djr.com/resources/web/bungee.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://bungee-project.djr.com/resources/web/bungee.js"></script>

    <!-- Reference Bungee Font here: https://djr.com/bungee?text=Securing+UX+Training+for+the+Team&orientation=horizontal&regular=ffffffff&inline=E05B08&outline=E05B08&shade=000000&sign=E05B08&background=C4C6E2&begin=&end=&block=#tester -->

    <!-- Font Awesome Kit "jasonjames" -->
    <script src="https://kit.fontawesome.com/0e27cadf60.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <a href="#">
            <h1>jasonjames.works</h1>
        </a>
    </header>
    <main>
        <article>
            <header>
                <nav class="crumbs">
                    <ol>
                        <li class="crumb">
                            <i class="fa-solid fa-up-left icon"></i> 
                            <a href="#">anecdotes</a>
                        </li>
                    </ol>
                </nav>
                <h2 class="hidden" style="content-visibility: hidden;">Securing UX Training for the Team</h2>
                <h2 class="multilayer" aria-hidden="true">
                    <span class="bungee-layers-inline">Securing UX Training for the Team</span>
                    <span class="bungee-layers-regular">Securing UX Training for the Team</span>
                    <span class="bungee-layers-outline">Securing UX Training for the Team</span>
                    <span class="bungee-layers-shade">Securing UX Training for the Team</span>
                </h2>
                <!--
                <figure class="bungee regular-ffffff inline-e05b08 outline-e05b08 shade-000000 sign background horizontal">Securing UX Training for the Team</figure>
                -->
                <p class="article-date"><time datetime="2026-08-18">Tuesday, August 18, 2026</time> <i class="fa-regular fa-tv-retro icon"></i></p>
                <ul class="tag-list">
                    <li><a href="">Leading without Authority</a></li>
                    <li><a href="">UX Operations</a></li>
                    <li><a href="">Vendor Management</a></li>
                    <li><a href="">Team Building</a></li>
                </ul>
            </header>
            <section class="summary">
                <div class="typography-label-container">
                    <h2 class="typography-label">Summary</h2>
                </div>
                <p>After discovering our team had had budget allocated for training, but didn't have access to it, I led the effort to onboard and fund multiple UX continuing education vendors.</p>
            </section>
            <section class="article-body">
                <p>Hi, I'm Jason. Welcome.</p>
                <p>Soon after I was promoted to User Experience Lead in April 2023, our UX Director included me in next-year budget conversations.</p>
                <p>I discovered that we'd had money for training, but didn't have any scheduled because of the often (it was) arduous vendor management process at Santander.</p>
                <p>I volunteered to lead the effort.  Six months later, Nielsen Norman Group, Interaction Design Foundation and HFI Training were onboarded with 2023 funds.</p>
                <p>After our Director was fired and shortly after a wave of layoffs, I worked with senior leadership to secure funding for our team for 2024.  The result?</p>
            </section>
            <section class="outcomes">
                <div class="typography-label-container">
                    <h2 class="typography-label">Outcomes</h2>
                </div>
                <ul>
                    <li>Two designers earned NN/g Master Certification</li>
                    <li>One researcher and one writer earned NN/g Certification</li>
                    <li>Three vendors onboarded</li>
                    <li>Funding secured for two years</li>
                </ul>
            </section>
            <section class="video-summary">
                <div class="typography-label-container">
                    <h2 class="typography-label">Video Summary</h2>
                </div>
                <video
                    controls
                    preload="metadata"
                    autoplay
                    loop
                    muted>
                    <source src="assets/DJI_20260225_155209_457_video.mov" type="video/mp4">
                    <track
                        label="English"
                        kind="captions"
                        srclang="en"
                        src="assets/captions.vtt" />
                    <track
                        label="Español"
                        kind="subtitles"
                        srclang="es"
                        src="assets/subtitles_es.vtt" />
                    Your browser cannot play this video.
                </video>
            </section>
        </article>
    </main>
</body>
</html>