:root {
    /* CSS Custom Properties (Variables) - Colors */
    --primary: white;
    /* --primary: ghostwhite; */
    /* --primary: snow; */
    --secondary: #C4C6E2;
    --accent: #E05B08;
    --accent-transparent: #E05B0825;
    --accent-transparent-light: #E05B0812;
    --text: #000000;
    --text-transparent: #00000025;

    --kool-kombi: #FE5000; /* Hotwheels Pantone 021 */
    --kool-kombi-transparent: #FE500025;
    --ford-mustang-boss-302: #7A2E42; /* Hotwheels Pantone 195 */
    --ford-mustang-boss-302-transparent: #7A2E4225;
    --nissan-fairlady-z: #202A44; /* Hotwheels Pantone 533 */
    --nissan-fairlady-z-transparent: #202A4425;
    

    @font-face { /* See https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face and https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts */
    font-family: "Bungee Layers Inline";
    src:
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.woff2") format("woff2"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.woff") format("woff"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Inline.eot") format("embedded-opentype");
    }

    @font-face {
    font-family: "Bungee Layers Regular";
    src:
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.woff2") format("woff2"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.woff") format("woff"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Regular.eot") format("embedded-opentype");
    }

    @font-face {
    font-family: "Bungee Layers Outline";
    src:
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.woff2") format("woff2"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.woff") format("woff"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Outline.eot") format("embedded-opentype");
    }

    @font-face {
    font-family: "Bungee Layers Shade";
    src:
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.woff2") format("woff2"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.woff") format("woff"),
        url("assets/fonts/bungee/Bungee_Web/BungeeLayers/BungeeLayers-Shade.eot") format("embedded-opentype");
    }

    @font-face {
    font-family: "Lexend";
    src: 
        url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"),
        url("assets/fonts/lexend/Lexend/Lexend-VariableFont_wght.ttf") format("ttf");
    }

}

html {
    background-color: var(--primary);
    color: var(--text);
}

body {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "HEXP" 0;
    margin: 0.5em 1em 0.5em 1em;
}

/*
main {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 1;
}

.watermark {
    font-family: "Bungee", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 72em;
    z-index: 0;
    position: absolute;
    color: var(--accent-transparent-light);
    /* transform: rotate(90deg);
}
*/

menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

menu button {
    background: none;
    border: none;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    border-radius: 26px;
}

menu button:hover {
    background-color: var(--accent-transparent);
}

button {
    i, svg {
        font-size: 1.5em;
    }
}

.wrapper {
    /*
    display: grid;
    grid-template-columns: 3fr 9fr;
    */
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

/* break point is 464px */
@media (width <= 29em) {
    .wrapper {
        flex-flow: column wrap;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    padding-left: 0;
    align-items: start;
}

nav li {
    font-weight: 300;
    border-radius: 26px;
    background-color: var(--primary);
    padding: 12px 24px;
    position: relative;
}

nav li:hover {
    background-color: var(--accent-transparent);
}

.nav-sub-heading {
    position: absolute;
    left: 0;
    transform: translate(5em, 2.25em);
    color: var(--accent);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.625em;
}

/* I wasn't able to figure out how to curve the sub-heading with https://developer.mozilla.org/en-US/docs/Web/SVG/Reference/Element/textPath the way I wanted to quickly.  I'll try later with LLM assistance.  - Jason, September 14, 2026 */

aside {
    /* padding-left: 24px; */
    font-weight: 300;
    max-width: 9em;
}

aside p {
    padding-left: 24px;
}

details {
    cursor:pointer;
    border-radius: 26px;
    background-color: var(--primary);
    padding: 12px 24px;
}

details:hover {
    background-color: var(--accent-transparent);
}

summary::marker {
    color: var(--accent);
    /* content: "1 ";
    font-weight: 500; */
}

#main-navigation {
    /* max-width: 18em; /* 288px max-width */
}

#billboard span {
    font-size: 8em;
}

/*
.wrapper nav {
    float: inline-start;
}
*/
/* Thank you https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/float */

a {
    color: var(--text);
    text-decoration: none;
}

.icon {
    color: var(--accent);
    padding: 0;
}

.fa-sun-bright, .fa-moon-waxing-crescent {
    color: var(--text);
}

button:has(.fa-sun-bright):hover , button:has(.fa-moon-waxing-crescent):hover {
    background-color: var(--text-transparent);
}

header {
    display: flex;
    justify-content: space-between;
}

body > header {
    border-bottom: 2px solid var(--accent);
}

h1 {
    color: var(--accent);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    word-break: break-all;
    padding-left: 24px;
    line-height: 3rem;
}

#flavor-controls {
    display: flex;
    gap: 0;
    margin: 0 0 0 0;
    align-items: flex-start;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
}

#flavor-controls > li {
    margin: -4px -16px 0 0;
    font-weight: 300;
    border-radius: 24px 24px 0 0;
    padding: 4px 24px;
}

#flavor-controls > li:hover {
    transform: scale(1.05) translate(-2px, 2px);
}

.hand-crafted {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    z-index: 4;
}

.hand-crafted > a {
    color: var(--primary);
}

.locally-generative {
    background-color: transparent;
    border: 2px solid var(--ford-mustang-boss-302);
    z-index: 3;
}

.locally-generative > a {
    color: var(--ford-mustang-boss-302);
}

.locally-generative:hover {
    background-color: var(--ford-mustang-boss-302-transparent)
}

.generative {
    border: 2px solid var(--nissan-fairlady-z);
    z-index: 2;
}

.generative > a {
    color: var(--nissan-fairlady-z);
}

.generative:hover {
    background-color: var(--nissan-fairlady-z-transparent)
}

.sentient {
    border: 2px solid var(--kool-kombi);
    z-index: 1;
}

.sentient > a {
    color: var(--kool-kombi);
}

.sentient:hover {
    background-color: var(--kool-kombi-transparent)
}

#hand-writing {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 0.5em;
    margin-left: 48px;
    margin-top: 0.5em;
}

#hand-writing-1 {
    width: 175px; /* original size is 350 x 58 pixels */
    height: auto;
}

#hand-writing-2 {
    width: 147.5px; /* original size is 350 x 58 pixels */
    height: auto;
}

#hand-writing-3 {
    width: 175.5px; /* original size is 350 x 58 pixels */
    height: auto;
}