:root {
    --light-background-color: #FFF;
    --light-primary-color: #222;
    --dark-background-color: #222;
    --dark-primary-color: #FFF;
}
  
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    margin: auto;
}

/* h1 floating animation */

@keyframes float {
    0% { transform: translateY(0); text-shadow: none; }
    50% { transform: translateY(-0.025em); text-shadow: 2px 2px 5px rgba(187,45,20,0.3); }
    100% { transform: translateY(0); text-shadow: none; }
}

.float {
    display: flex;
    justify-content: center;
}

.float span {
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    font-size: inherit;
    margin: 0;
    animation-delay: calc(var(--i) * 0.3s);
}

/* end h1 floating animation */

p, header {
    margin: 1em 10% 1em 10%;
    text-align: center;
}

a {
    color: var(--light-primary-color);
  }

@media only screen and (max-width: 768px) {
    body {
        font-size: 1em;
}
    
    h1 {
        font-size: 12em;
    }

    .float {
        flex-wrap: wrap;
        margin: 0 16px 0 16px;
    }
} 